# Define servers to request work from
WORK_SERVERS=['https://1.2.3.4:5000', 'https://5.6.7.8:5001?key=123456']

# Local node address and port
NODE_URL='[::1]'
NODE_PORT=7072

# Callback forwarding (optional)
# if you want this application to forward node callback to other services
#CALLBACK_FORWARD=['http://127.0.0.1:5000', 'http://127.0.0.1:5001']

# General settings
DEBUG=False
PRECACHE=False # Set to True if you want  work to be precached (requires callback to be configured)
NODE_FALLBACK=True # Set to False if you never want to request work from node specified above
TIMEOUT=10 # How long to wait for each individual work peer to respond, before trying fallback